<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hospital.registration.mapper.PatientOrderMapper">
    <insert id="addPatientOrder" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.hospital.registration.entities.PatientOrder">
        insert into tb_patient_order(register_id, patient_id, status)
        values (#{patientOrder.registerId}, #{patientOrder.patientId}, #{patientOrder.status})
    </insert>
    <select id="getRecordsByPatientId" resultType="com.hospital.registration.entities.Record">
        select t2.date_time `date`, t3.name docName, t4.name deptName, t4.location location from tb_register t2 inner join tb_doctor t3
          on t2.doc_id=t3.id and t2.id in (select t1.register_id from tb_patient_order t1 where t1.patient_id= #{patientId})
        inner join tb_depts t4 on t3.dept_id=t4.id
    </select>
</mapper>