<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hospital.registration.mapper.PatientMapper">
    <select id="getPasswordByPhoneNumber" resultType="String">
        select `password` from tb_patient where phoneNumber = #{phoneNumber}
    </select>

    <select id="getPatientInfoByPhoneNumber" resultType="com.hospital.registration.entities.Patient">
        select id, `name`, idCard, gender, phoneNumber, email, `password` from tb_patient where phoneNumber = #{phoneNumber}
    </select>

    <select id="getPatientInfoByPatientId" resultType="com.hospital.registration.entities.Patient">
        select id, `name`, idCard, gender, phoneNumber, email, birthday,  `password` from tb_patient where id = #{userId}
    </select>

    <insert id="addPatient" useGeneratedKeys="true" keyProperty="id"
        parameterType="com.hospital.registration.entities.Patient">
        insert into tb_patient(phoneNumber, `password`)  values (#{patient.phoneNumber}, #{patient.password})
    </insert>

    <update id="updatePatient">
        update tb_patient set `name` = #{patient.name}, idCard = #{patient.idCard}, gender = #{patient.gender}, phoneNumber= #{patient.phoneNumber}
        ,email = #{patient.email}, birthday = #{patient.birthday} where id = #{patient.id}
    </update>
</mapper>