<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hospital.registration.mapper.RegisterMapper">
    <select id="getRegisterByDoc" resultType="com.hospital.registration.entities.Register">
        select t1.id, t1.date_time, t1.timespan, t1.available_num, t1.total_num from tb_register t1
        inner join tb_doctor t2 on t1.doc_id=t2.id and t2.name=#{docName} ORDER by t1.date_time
    </select>
</mapper>